@model PinkFlamingoStudios.Models.OrderViewModel
@using PinkFlamingoStudios;

@{
    ViewBag.Title = "PreOrder";
    
}

<div class="container">
    <div class="row">
        <h3>You can pre-order our game now!</h3>
        <h2></h2>
    </div>
    <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                
              @{
                  if (BusinessLogic.name == false)
                  {
                      using (Html.BeginForm())
                      {
                        <p>First Name:</p>
                        <p> @Html.TextBoxFor(x => x.firstName)</p>
                        <p>Second Name:</p>
                        <p>@Html.TextBoxFor(x => x.secondName)</p>
                        <p>Last Name:</p>
                        <p>@Html.TextBoxFor(x => x.firstLastName)</p>
                        <p>Second Last Name:</p>
                        <p>@Html.TextBoxFor(x => x.secondLastName)</p>
                        <p>Email:</p>
                        <p>@Html.TextBoxFor(x => x.Email)</p>
                        <input type="submit" value="Next!" />
                      }
                  }
                  else
                  {
                      <h2>Thanks for pre-ordering our game!</h2>
                  }
            }
               
            </div>
    </div>
</div>

